.header {
    width: 100%;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .my-photo {
    width: 100%;

  }
  
  .my-photo img {
    width: 100%;
  }
  
  .header-content {
    width: 600%;
    margin: 10px;
    color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  section {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .section-header {
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .experience,
  .studies,
  .idiomas {
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
  }
  
  .active {
    display: block;
    background-color: azure;
    padding: 10px;
  }

  .boton{
      color: red;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  
  .boton:hover {
      color: lightskyblue;
      background-color: linen;
      font-family: Verdana, Geneva, Tahoma, sans-serif;


  }

  .social-button {
      color: grey;
      margin-right: 200px;
      font-family: sans-serif;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
